@font-face {
    font-family: 'bpg-web-001-caps';
    src: url('../fonts/bpg-web-001-caps/bpg-web-001-caps.eot');
    src: url('../fonts/bpg-web-001-caps/bpg-web-001-caps.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpg-web-001-caps/bpg-web-001-caps.woff') format('woff'),
         url('../fonts/bpg-web-001-caps/bpg-web-001-caps.ttf') format('truetype'),
         url('../fonts/bpg-web-001-caps/bpg-web-001-caps.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
   }
@font-face {
    font-family: 'bpg-web';
    src: url('../fonts/BPG Web/BPGWEB001.eot');
    src: url('../fonts/BPG Web/BPGWEB001.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BPG Web/BPGWEB001.woff') format('woff'),
         url('../fonts/BPG Web/BPGWEB001.ttf') format('truetype'),
         url('../fonts/BPG Web/BPGWEB001.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
   }
   @font-face {
    font-family: 'gotham-bold';
    src: url('../fonts/gotham-bold/gothambold.eot');
    src: url('../fonts/gotham-bold/gothambold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-bold/gothambold.woff') format('woff'),
         url('../fonts/gotham-bold/gothambold.ttf') format('truetype'),
         url('../fonts/gotham-bold/gothambold.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
   }
 body{
 	background: #fefefe;
 }
.navbar-default{
	background-color: transparent;
    border-bottom-color: #e7e7e7;
}	
.navbar {
    position: relative;
    margin-bottom: 35px;
    border-radius: 0px;
}
.navbar-default .navbar-brand{
	color: #33bde6;
}
.navbar-default .navbar-brand:hover{
	color: #33bde6;
}
/* მარჯვენა ნავიგაცია */
.navbar-default .navbar-nav>li>a{
	color: #acacac;
	font-size: 12px;
}
.enterBut{
	width: 115px;
	height: 40px;
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
	outline: none;
	border: 0px;
	margin-top: 5px;
	background: #00ace0;
	color: #fff;
}
/* მარჯვენა ნავიგაცია */
@media (min-width: 768px){
	.container-fluid>.navbar-collapse,
	.container-fluid>.navbar-header,
	.container>.navbar-collapse,
	.container>.navbar-header{
		margin-right: 0;
	    margin-left: 0;
	    margin-top: 15px;
	    font-family: 'bpg-web-001-caps';
	}
	/*.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
		font-family: 'gotham-bold';
	}*/
}
/* first row */
.firstBlockBottom{
	margin-bottom: 35px;
}
.greenBl{
	width: 7px;
	height: 70px;
	background: #80bc7f;
	display:block;
	float: left;
	margin-right: 30px;
}
.texts{
	width: calc(100% - 37px);
	display: inline-block;
	font-size: 19px;
	color: #616161;
}
.texts a{
	color: #00ace0;
	text-decoration: none !important;
}
/* first row */
/* jumbotron */
.jumbotron {
	background: url("../img/coverBeg.jpg") no-repeat center;
	background-size: cover; 
	height: 270px;
	width: 100%;
	margin-bottom: 30px;
}
.jumbotron h1 {
	font-size: 32px;
	color: #ffffff;
	font-family: 'bpg-web';
}
.jumbotron h3 {
	font-size: 15px;
	color: #ffffff;
	font-family: 'bpg-web';
}
.jumbotron button {
	margin-top: 20px;
	font-size: 15px;
	color: #ffffff;
	font-family: 'bpg-web-001-caps';
	background: #f1aa28;
	width: 260px;
	height: 60px;
	outline: none;
	border: 0px;
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
}
/* jumbotron */
/* თეორია სავარჯიშოები ტესტები */
.glass{
	margin-top: 15px;
	width: 52px;
	height: 27px;
	display: block;
	margin-right: 30px;
	float: left;
	background: url('../img/svg/glass.svg') center no-repeat;
	background-size: cover;
}
.book2{
	width: 42px;
    height: 49px;
	display: block;
	margin-right: 30px;
	float: left;
	background: url('../img/svg/book2.svg') center no-repeat;
	background-size: cover;
}

.book{
	width: 48px;
    height: 43px;
	display: block;
	margin-right: 30px;
	float: left;
	background: url('../img/svg/book.svg') center no-repeat;
	background-size: cover;
}

.rows{
	display: inline-block;
	width: calc(100% - 90px);

}
.rows h2 {
	font-size: 20px;
	font-family: 'bpg-web';
	color: #616161;
}
.rows ul {
	display: block;
	list-style: circle;
}
.circle{
	width: 10px;
    height: 10px;
    background: #e0e0e0;
    display: inline-block;
    border-radius: 50%;
    margin-right: 20px;
}
.rows ul li{
	display:block;
	list-style: circle;
	font-family: 'bpg-web';
	font-size: 13px;
	color: #6d6e71;
}
.rows ul li a{
	text-decoration: none;
	color: #6d6e71 !important;
}
/* თეორია სავარჯიშოები ტესტები */
