@font-face {
    font-family: 'bpg-web-001-caps';
    src: url('../fonts/bpg-web-001-caps/bpg-web-001-caps.eot');
    src: url('../fonts/bpg-web-001-caps/bpg-web-001-caps.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpg-web-001-caps/bpg-web-001-caps.woff') format('woff'),
         url('../fonts/bpg-web-001-caps/bpg-web-001-caps.ttf') format('truetype'),
         url('../fonts/bpg-web-001-caps/bpg-web-001-caps.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
   }
@font-face {
    font-family: 'bpg-web';
    src: url('../fonts/BPG Web/BPGWEB001.eot');
    src: url('../fonts/BPG Web/BPGWEB001.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BPG Web/BPGWEB001.woff') format('woff'),
         url('../fonts/BPG Web/BPGWEB001.ttf') format('truetype'),
         url('../fonts/BPG Web/BPGWEB001.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
   }
   @font-face {
    font-family: 'gotham-bold';
    src: url('../fonts/gotham-bold/gothambold.eot');
    src: url('../fonts/gotham-bold/gothambold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-bold/gothambold.woff') format('woff'),
         url('../fonts/gotham-bold/gothambold.ttf') format('truetype'),
         url('../fonts/gotham-bold/gothambold.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
   }
 body{
 	background: #fefefe;
 }
 .transition {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.navbar-default{
	background-color: transparent;
    border-bottom-color: #e7e7e7;
}	
.navbar {
    position: relative;
    margin-bottom: 35px;
    border-radius: 0px;
}
.navbar-default .navbar-brand{
	color: #33bde6;
}
.navbar-default .navbar-brand:hover{
	color: #33bde6;
}
/* მარჯვენა ნავიგაცია */
.navbar-default .navbar-nav>li>a{
	color: #7e7e7e;
	font-size: 12px;
	display: inline-block;
}
/* index page */
.enterBut{
	width: 115px;
	height: 40px;
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
	outline: none;
	border: 0px;
	margin-top: 5px;
	background: #00ace0;
	color: #fff;
}
/* მარჯვენა ნავიგაცია */
@media (min-width: 768px){
	.container-fluid>.navbar-collapse,
	.container-fluid>.navbar-header,
	.container>.navbar-collapse,
	.container>.navbar-header{
		margin-right: 0;
	    margin-left: 0;
	    margin-top: 15px;
	    font-family: 'bpg-web-001-caps';
	}
	/*.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
		font-family: 'gotham-bold';
	}*/
}
/* first row */
.firstBlockBottom{
	margin-bottom: 35px;
}
.greenBl{
	width: 7px;
	height: 70px;
	background: #80bc7f;
	display:block;
	float: left;
	margin-right: 30px;
}
.texts{
	width: calc(100% - 37px);
	display: inline-block;
	font-size: 19px;
	color: #616161;
}
.texts a{
	color: #00ace0;
	text-decoration: none !important;
}
/* first row */
/* jumbotron */
.jumbotron {
	background: url("../img/coverBeg.jpg") no-repeat center;
	background-size: cover; 
	height: 270px;
	width: 100%;
	margin-bottom: 30px;
}
.jumbotron h1 {
	font-size: 32px;
	color: #ffffff;
	font-family: 'bpg-web';
}
.jumbotron h3 {
	font-size: 15px;
	color: #ffffff;
	font-family: 'bpg-web';
}
.jumbotron button {
	margin-top: 20px;
	font-size: 15px;
	color: #ffffff;
	font-family: 'bpg-web-001-caps';
	background: #f1aa28;
	width: 260px;
	height: 60px;
	outline: none;
	border: 0px;
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
}
/* jumbotron */
/* თეორია სავარჯიშოები ტესტები */
.glass{
	margin-top: 15px;
	width: 52px;
	height: 27px;
	display: block;
	margin-right: 30px;
	float: left;
	background: url('../img/svg/glass.svg') center no-repeat;
	background-size: cover;
}
.book2{
	width: 42px;
    height: 49px;
	display: block;
	margin-right: 30px;
	float: left;
	background: url('../img/svg/book2.svg') center no-repeat;
	background-size: cover;
}

.book{
	width: 48px;
    height: 43px;
	display: block;
	margin-right: 30px;
	float: left;
	background: url('../img/svg/book.svg') center no-repeat;
	background-size: cover;
}
.forHover:hover{
	background: #fefefe;
	position: relative;
	top: -50px;
	/*padding-bottom: 50px;*/
	border-top: 7px solid #80bc7f;
	padding-top: 10px; 
	-webkit-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
}
.rows{
	display: inline-block;
	width: calc(100% - 90px);
	padding-bottom: 20px;

}
.rows h2 {
	font-size: 20px;
	font-family: 'bpg-web';
	color: #616161;
}
.rows ul {
	display: block;
	list-style: circle;
}
.circle{
	width: 7px;
    height: 7px;
    background: #e0e0e0;
    display: inline-block;
    border-radius: 50%;
    margin-right: 20px;
}
.rows ul li{
	display:block;
	list-style: circle;
	font-family: 'bpg-web';
	font-size: 13px;
	color: #6d6e71;
	margin-top: 5px;
}
.rows ul li a{
	text-decoration: none;
	color: #6d6e71 !important;
}
/* თეორია სავარჯიშოები ტესტები */
/* რეგისტრაცის პოპაპი */
.mainReg{
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.5);
	display: none;
}
.mainReg .regPage{
	width: 370px;
	height: 480px;
	background: #ffffff;
	position: relative;
	top: 0px;
	z-index: 5;
}
.mainReg .allcenter{
    top:50%;
    left: 50%;
    margin-right:-50%;
    transform:translate(-50%,-50%);
    position: absolute;
    z-index: 5;
}
.mainReg .closse{
	width: 31px;
	height: 31px;
	background: url('../img/svg/closse.svg');
	position: absolute;
	top: -50px;
	cursor: pointer;
	left: 45%;
}
.regPage .mainRegPage{
	width: 250px;
	height: 350px;
	margin: 0 auto;
	margin-top: 10%; 
}
.mainRegPage .headers p{
	height: 35px;
	text-align: center;
	font-family: 'bpg-web-001-caps';
	color: #6286ae;
	margin-top: 20px;
	font-size: 25px;
}
.mainRegPage .headers input{
	width: 100%;
	height: 55px;
	margin-top: 10px;
	font-family: 'bpg-web';
	padding-left: 10px;
	outline: none;
	font-size: 14px;
}
.mainRegPage .headers button{
	width: 100%;
	height: 55px;
	margin-top: 10px;
	background: #f1aa28;
	border: 0px;
	outline: none;
	font-family: 'bpg-web-001-caps';
	color: #fff;
}
.mainRegPage .headers button.fb-login{
	background: #3A5795;
}
.mainRegPage .headers span{
	font-family: 'bpg-web-001-caps';
	text-decoration: none;
	font-size: 14px;
	color: #c4c4c4;
	cursor: pointer;
}
.mainRegPage .headers span:hover{
	color: #616161;
}
.mainRegPage .headers .last{
	float: right;
}
.hide{
	display: none;
}
/* რეგისტრაცის პოპაპი */
/* index page */


/*  about page */
/* left-navigation */
.aboutCont{
	margin-top: 70px;
}
.aboutCont .navlist{
	background: #fff;
	-webkit-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
}
.aboutCont .navlist ul{
	padding: 35px 0 35px 0;
}
.aboutCont .navlist ul li{
	height: 65px;
	padding: 20px 0px 0px 50px;
	cursor: pointer;
}
.aboutCont .navlist ul li:hover{
	height: 65px;
	padding-top: 20px;
	background: #00ace0;
	width:110%;
	-webkit-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
}
.aboutCont .navlist ul li:hover a{
	color: #fff;
}
.aboutCont .navlist ul li a{
	text-decoration: none;
	color: #898989;
	font-size: 18px;
	font-family: 'bpg-web';
}
/* left-navigation */
/* right-content */
.aboutCont .textAbout{
	margin-left: 10%;
}
.aboutCont .textAbout h2{
	color: #00ace0;
	font-family: 'bpg-web';
	font-size: 25px;
}
.aboutCont .textAbout .texts{
	margin-top: 15px;
}
.aboutCont .textAbout .texts p{
	font-family: 'bpg-web';
	font-size: 14px;
	color: #979797;
}
/* right-content */
/*  about page */

/*test page*/

/* col-sm-4 */
span.arrow-back{
	width: 35px;
	height: 30px;
	background: url('../img/svg/back.svg');
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
}
span.test{
	margin-left: 15px;
	display: inline-block;
	vertical-align: middle;
	font-family: 'bpg-web';
	color: #bdbdbd;
	font-size: 16px;

} 
span.verbal{
	margin-left: 15px;
	display: inline-block;
	vertical-align: middle;
	font-family: 'bpg-web';
	color: #616161;
	font-size: 16px;

}
/* col-sm-4 */

/* col-sm-8 */
span.tesTexts{
	font-size: 14px;
	font-family: 'bpg-web';
	color: #898989;
	display: inline-block;
	vertical-align: middle;
}
span.clock{
	margin-left: 20px;
	width: 22px;
    height: 25px;
	display: inline-block;
	background: url('../img/svg/clock.svg')center no-repeat;
	background-size: cover; 
	vertical-align: middle;
}
button.answerBut{
	margin-left: 20px;
	width: 160px;
	height: 30px;
	background: #00ace0;
	color: #fff;
	font-family: "bpg-web-001-caps";
	font-size: 11px;
	outline: none;
	border: 0px; 
}
/* col-sm-8 */ 


/* col-sm-4 */
.shadow-pnl{
	margin-top: 40px;
	padding: 0px;
	-webkit-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
}
.testLeftNav{
margin-top: -20px; 	
}
.testLeftNav .testLeftNavHeader{
	background: #00ace0;
	height: 50px;
	width: 100%;
}
.testLeftNav .testLeftNavHeader h3{
	padding: 18px 0px 0px 30px;
	font-family: 'bpg-web-001-caps';
	font-size: 14px;
	color: #fff;
}
.testLeftNav .testsAswers{
	widows: 100%;
}
.testLeftNav ol{
	padding-left: 50px;
}
.testLeftNav ol li{
	height: 50px;
	padding: 10px 0 0 0px;
	border-bottom: 2px solid #eceff1; 
}
.testLeftNav ol li span{
	width: 35px;
	height: 35px;
	background: #e0e0e0;
	float: right;
	color: #616161;
	font-family: 'bpg-web';
	font-size: 14px;
	text-align: center;
	border-radius: 50%;
	margin-right: 20px;
	padding-top: 5px; 
}
.testLeftNav ol li a{
	color: #616161;
	text-decoration: none;
	font-size: 15px;
}.testLeftNav ol li a.disable{
	color: #dddddd;
}
/* col-sm-4 */
/* col-sm-8 */
.QuizTest{
	margin: 37px 0px 0px 120px;
}
.QuizTest .QuizAnswers .headerSp{
	color: #616161;
	font-size: 20px;
	font-family: 'bpg-web';
	float: left;
	width: 40px;
	height: 20px;
	margin: 0px;
}
.QuizTest .QuizAnswers .quizAsk{
	display: block;
}
.QuizTest .QuizAnswers h2{
	color: #616161;
	font-size: 20px;
	font-family: 'bpg-web';
}
.QuizTest .QuizAnswers:nth-child(2){
	margin-top: 30px;
}
.QuizTest .QuizAnswers{
	margin-top: 20px;
}
.QuizTest .QuizAnswers p{
	color: #616161;
	font-size: 15px;
	font-family: 'bpg-web';
	display: inline-block;
}
.QuizTest .QuizAnswers .quizCats{
	width: 35px;
	height: 35px;
	background: #e0e0e0;
	color: #616161;
	font-family: 'bpg-web';
	font-size: 14px;
	display: block;
	vertical-align: middle;
	text-align: center;
	border-radius: 50%;
	margin-right: 20px;
	padding-top: 5px; 
	float: left;
	cursor: pointer;

}
.QuizTest .QuizAnswers span{
	display: inline-block;
	width: calc(100% - 100px);
	color: #616161;
	font-family: 'bpg-web';
	font-size: 14px;
	vertical-align: middle;
	margin: 10px 0 0 0;

}
.QuizTest .QuizAnswers button {
	margin: 30px 0 0 0;
	background: #f1aa28;
	border:0px;
	outline: none;
	width: 170px;
	height: 50px;
	color: #fff;
	font-size: 15px;
	font-family: 'bpg-web-001-caps';
	-webkit-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
}
.QuizTest .QuizAnswers .selected { 
	background: #00ace0;
	color: #fff;
}
.QuizTest .QuizAnswers .disable { 
	background: #eeeeee;
	color: #bdbdbd;
}
/* col-sm-8 */
/*test page*/

/* exams page */
.userCircle{
	width: 30px;
	height: 30px;
	background: #ef5350;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    margin-left: -15px;
}
.greenCube{
	width: 60px;
	height: 30px;
	background: #9ccc65;
	font-size: 15px;
	text-align: center;
	margin: 9px 0px 0px 30px;
}
.navbar-default .navbar-nav>li>a.greenCubeText{
	font-size: 15px;
	padding: 6px 0px 0px 3px;
	color: #fff;
}
.navbar-default .navbar-nav>li>a.greenCubeText:hover{
	color: #fff;
}
.dropDownIcon{
	width: 14px;
    height: 14px;
	background: url('../img/svg/down.svg')center no-repeat;
	background-size: cover;
	display: inline-block;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover{
	background:transparent;
}
/* // exams page // */

