@font-face {
    font-family: 'bpg-web-001-caps';
    src: url('../fonts/bpg-web-001-caps/bpg-web-001-caps.eot');
    src: url('../fonts/bpg-web-001-caps/bpg-web-001-caps.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpg-web-001-caps/bpg-web-001-caps.woff') format('woff'),
         url('../fonts/bpg-web-001-caps/bpg-web-001-caps.ttf') format('truetype'),
         url('../fonts/bpg-web-001-caps/bpg-web-001-caps.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
   }
@font-face {
    font-family: 'bpg-web';
    src: url('../fonts/BPG Web/BPGWEB001.eot');
    src: url('../fonts/BPG Web/BPGWEB001.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BPG Web/BPGWEB001.woff') format('woff'),
         url('../fonts/BPG Web/BPGWEB001.ttf') format('truetype'),
         url('../fonts/BPG Web/BPGWEB001.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
   }
   @font-face {
    font-family: 'gotham-bold';
    src: url('../fonts/gotham-bold/gothambold.eot');
    src: url('../fonts/gotham-bold/gothambold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-bold/gothambold.woff') format('woff'),
         url('../fonts/gotham-bold/gothambold.ttf') format('truetype'),
         url('../fonts/gotham-bold/gothambold.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
   }
 body{
 	background: #fefefe;
 }
 ::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0 , 0, 0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 172, 224, 0.5);
    background: #00ace0;
}
 .transition {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.navbar-default{
	background-color: transparent;
    border-bottom-color: #e7e7e7;
}	
.navbar {
    position: relative;
    margin-bottom: 35px;
    border-radius: 0px;
}
.navbar-default .navbar-brand{
	color: #33bde6;
}
.navbar-default .navbar-brand:hover{
	color: #33bde6;
}
/* მარჯვენა ნავიგაცია */
.navbar-default .navbar-nav>li>a{
	color: #7e7e7e;
	font-size: 12px;
	display: inline-block;
}
/* index page */
.enterBut{
	width: 115px;
	height: 40px;
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
	outline: none;
	border: 0px;
	margin-top: 5px;
	background: #00ace0;
	color: #fff;
}
/* მარჯვენა ნავიგაცია */
@media (min-width: 768px){
	.container-fluid>.navbar-collapse,
	.container-fluid>.navbar-header,
	.container>.navbar-collapse,
	.container>.navbar-header{
		margin-right: 0;
	    margin-left: 0;
	    margin-top: 15px;
	    font-family: 'bpg-web-001-caps';
	}
	/*.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
		font-family: 'gotham-bold';
	}*/
}
/* first row */
.firstBlockBottom{
	margin-bottom: 35px;
}
.greenBl{
	width: 7px;
	height: 70px;
	background: #80bc7f;
	display:block;
	float: left;
	margin-right: 30px;
}
.texts{
	width: calc(100% - 37px);
	display: inline-block;
	font-size: 19px;
	color: #616161;
}
.texts a{
	color: #00ace0;
	text-decoration: none !important;
}
/* first row */
/* jumbotron */
.mainJumb{
	background: url("../img/coverBeg.jpg") no-repeat center;
	background-size: cover; 
	height: 270px;
	width: 100%;
}
.mainJumb .centerText{
	text-align: center;
	padding-top: 30px;
}
.mainJumb h1 {
	font-size: 32px;
	color: #ffffff;
	font-family: 'bpg-web';
}
.mainJumb h3 {
	font-size: 15px;
	color: #ffffff;
	font-family: 'bpg-web';
}
.mainJumb button {
	margin-top: 20px;
	font-size: 15px;
	color: #ffffff;
	font-family: 'bpg-web-001-caps';
	background: #f1aa28;
	width: 260px;
	height: 60px;
	outline: none;
	border: 0px;
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
}
/* jumbotron */
/* თეორია სავარჯიშოები ტესტები */
.glass{
	margin-top: 15px;
	width: 52px;
	height: 27px;
	display: block;
	margin-right: 30px;
	float: left;
	background: url('../img/svg/glass.svg') center no-repeat;
	background-size: cover;
}
.book2{
	width: 42px;
    height: 49px;
	display: block;
	margin-right: 30px;
	float: left;
	background: url('../img/svg/book2.svg') center no-repeat;
	background-size: cover;
}

.book{
	width: 48px;
    height: 43px;
	display: block;
	margin-right: 30px;
	float: left;
	background: url('../img/svg/book.svg') center no-repeat;
	background-size: cover;
}
.forHover{
	top: 0;
	padding-top: 30px;
}
.forHover:hover{
	background: #fefefe;
	position: relative;
	top: -50px;
	/*padding-bottom: 50px;*/
	/*border-top: 7px solid #80bc7f;*/
	/*padding-top: 10px; */
	-webkit-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
}
.forHover .hedBL{
	position: absolute;
	width: 100%;
	top:0;
	left: 0;
	height: 7px;
	background: transparent;
}
.forHover:hover .hedBL{
	background: #80bc7f;
}
.rows{
	display: inline-block;
	width: calc(100% - 90px);
	padding-bottom: 20px;

}
.rows h2 {
	font-size: 20px;
	font-family: 'bpg-web';
	color: #616161;
}
.rows ul {
	display: block;
	list-style: circle;
}
.circle{
	width: 7px;
    height: 7px;
    background: #e0e0e0;
    display: inline-block;
    border-radius: 50%;
    margin-right: 20px;
}
.rows ul li{
	display:block;
	list-style: circle;
	font-family: 'bpg-web';
	font-size: 13px;
	color: #6d6e71;
	margin-top: 5px;
}
.rows ul li a{
	text-decoration: none;
	color: #6d6e71 !important;
}
/* თეორია სავარჯიშოები ტესტები */
/* რეგისტრაცის პოპაპი */
.mainReg{
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.5);
	display: none;
}
.mainReg .regPage{
	width: 370px;
	height: 430px;
	background: #ffffff;
	position: relative;
	top: 0px;
	z-index: 5;
}
.mainReg .allcenter{
    top:50%;
    left: 50%;
    margin-right:-50%;
    transform:translate(-50%,-50%);
    position: absolute;
    z-index: 5;
}
.mainReg .closse{
	width: 31px;
	height: 31px;
	background: url('../img/svg/closse.svg');
	position: absolute;
	top: -50px;
	cursor: pointer;
	left: 48%;
}
.regPage .mainRegPage{
	width: 250px;
	height: 350px;
	margin: 0 auto;
	margin-top: 10%; 
}
.mainRegPage .headers p{
	height: 35px;
	text-align: center;
	font-family: 'bpg-web-001-caps';
	color: #6286ae;
	margin-top: 20px;
	font-size: 25px;
}
.mainRegPage .headers input{
	width: 100%;
	height: 55px;
	margin-top: 10px;
	font-family: 'bpg-web';
	padding-left: 10px;
	outline: none;
	font-size: 14px;
}
.mainRegPage .headers button{
	width: 100%;
	height: 55px;
	margin-top: 10px;
	background: #f1aa28;
	border: 0px;
	outline: none;
	font-family: 'bpg-web-001-caps';
	color: #fff;
}
.mainRegPage .headers button.fb-login{
	background: #3A5795;
}
.mainRegPage .headers button.google-login{
	background: #E46D62;
}
.mainRegPage .headers span{
	font-family: 'bpg-web-001-caps';
	text-decoration: none;
	font-size: 14px;
	color: #c4c4c4;
	cursor: pointer;
}
.mainRegPage .headers span:hover{
	color: #616161;
}
.mainRegPage .headers .last{
	float: right;
}
.hide{
	display: none;
}
/* რეგისტრაცის პოპაპი */
/* წარმატებული რეგისტრაცია */
.MainRegSuc{
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.5);
	display: none;
}
.MainRegSuc .succPage{
	width: 570px;
	height: 300px;
	background: #ffffff;
	position: relative;
	z-index: 5;
	margin: 15% auto;
	padding: 55px 0 0 0;
}
.succPage .closse{
	width: 31px;
	height: 31px;
	background: url('../img/svg/closse.svg');
	position: absolute;
	top: -50px;
	cursor: pointer;
	left: 48%;
}
.succPage .SuccLogo{
	width: 60px;
	height: 60px;
	background: url('../img/png/reg-suc.png')center no-repeat;
	margin: 0 auto;
}
.succPage h2{
	text-align: center;
	font: 25px 'bpg-web-001-caps';
	color: #616161;
}

/* წარმატებული რეგისტრაცია */
/* index page */


/*  about page */
/* left-navigation */
.aboutCont{
	margin-top: 70px;
}
.aboutCont .navlist{
	background: #fff;
	-webkit-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
}
.aboutCont .navlist ul{
	padding: 35px 0 35px 0;
}
.aboutCont .navlist ul li{
	height: 65px;
	padding: 20px 0px 0px 50px;
	cursor: pointer;
}
.aboutCont .navlist ul li:hover{
	height: 65px;
	padding-top: 20px;
	background: #00ace0;
	width:110%;
	-webkit-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
}
.aboutCont .navlist ul li:hover a{
	color: #fff;
}
.aboutCont .navlist ul li a{
	text-decoration: none;
	color: #898989;
	font-size: 18px;
	font-family: 'bpg-web';
}
/* left-navigation */
/* right-content */
.aboutCont .textAbout{
	margin-left: 10%;
}
.aboutCont .textAbout h2{
	color: #00ace0;
	font-family: 'bpg-web';
	font-size: 25px;
}
.aboutCont .textAbout .texts{
	margin-top: 15px;
}
.aboutCont .textAbout .texts p{
	font-family: 'bpg-web';
	font-size: 14px;
	color: #979797;
}
/* right-content */
/*  about page */

/*test page*/

/* col-sm-4 */
span.arrow-back{
	width: 35px;
	height: 30px;
	background: url('../img/svg/back.svg');
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
}
span.test{
	margin-left: 15px;
	display: inline-block;
	vertical-align: middle;
	font-family: 'bpg-web';
	color: #bdbdbd;
	font-size: 16px;

} 
span.verbal{
	margin-left: 15px;
	display: inline-block;
	vertical-align: middle;
	font-family: 'bpg-web';
	color: #616161;
	font-size: 16px;

}
/* col-sm-4 */
/* col-sm-8*/
.testProgress{
	margin-left:100px;
	width: 100%;
	height: 50px; 
}
.testProgress span{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #e3e3e3;
	display: inline-block; 
	margin-left: 20px;
}
.testProgress span.true{
	border: 4px solid #a6d174;
	background:#fff url('../img/png/true.png')center no-repeat;
}
.testProgress span.false{
	border: 4px solid #ef5350;
	background:#fff url('../img/png/false.png')center no-repeat;
}
/* col-sm-8 */

/* col-sm-8 */
span.tesTexts{
	font-size: 14px;
	font-family: 'bpg-web';
	color: #898989;
	display: inline-block;
	vertical-align: middle;
}
span.clock{
	margin-left: 20px;
	width: 22px;
    height: 25px;
	display: inline-block;
	background: url('../img/svg/clock.svg')center no-repeat;
	background-size: cover; 
	vertical-align: middle;
}
button.answerBut{
	margin-left: 20px;
	width: 160px;
	height: 30px;
	background: #00ace0;
	color: #fff;
	font-family: "bpg-web-001-caps";
	font-size: 11px;
	outline: none;
	border: 0px; 
}
/* col-sm-8 */ 


/* col-sm-4 */
.shadow-pnl{
	margin-top: 40px;
	padding: 0px;
	-webkit-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	overflow: hidden;
    height: 550px
}
.fullHeight{
	height: 100%;
    width: 100%;
    overflow-y: scroll;
}
   
.testLeftNav{
margin-top: -20px; 	
}
.testLeftNav .testLeftNavHeader{
	background: #00ace0;
	height: 50px;
	width: 100%;
}
.testLeftNav .testLeftNavHeader h3{
	padding: 18px 0px 0px 30px;
	font-family: 'bpg-web-001-caps';
	font-size: 14px;
	color: #fff;
}
.testLeftNav .testsAswers{
	widows: 100%;
}
.testLeftNav ol{
}
.testLeftNav ol li{
	height: 50px;
	padding: 10px 0 0 0px;
	border-bottom: 2px solid #eceff1;
	list-style-position: inside;
	padding-left: 35px 
}
.testLeftNav ol li span{
	width: 35px;
	height: 35px;
	background: #e0e0e0;
	float: right;
	color: #616161;
	font-family: 'bpg-web';
	font-size: 14px;
	text-align: center;
	border-radius: 50%;
	margin-right: 20px;
	padding-top: 5px; 
}
.testLeftNav ol li span.disable{
	background: #eeeeee;
}
.testLeftNav ol li a{
	color: #616161;
	text-decoration: none;
	font-size: 15px;
}.testLeftNav ol li a.disable{
	color: #dddddd;
}
/* col-sm-4 */
/* col-sm-8 */
@media (min-width: 768px){
	.QuizTest{
		margin: 37px 0px 0px 120px;
	}
}
.QuizTest .QuizAnswers .headerSp{
	color: #616161;
	font-size: 20px;
	font-family: 'bpg-web';
	float: left;
	width: 40px;
	height: 20px;
	margin: 0px;
}
.QuizTest .QuizAnswers .quizAsk{
	display: block;
}
/*ტექსტის გააზრება*/
.QuizTest .textHeader{
	font: 25px 'bpg-web-001-caps';
	text-align: center;

}
/*ტექსტის გააზრება*/
.QuizTest .QuizAnswers h2{
	color: #616161;
	font-size: 20px;
	font-family: 'bpg-web';
}
.QuizTest .QuizAnswers:nth-child(2){
	margin-top: 30px;
}
.QuizTest .QuizAnswers{
	margin-top: 20px;
}
.QuizTest .QuizAnswers p,
.QuizTest p{
	color: #616161;
	font-size: 15px;
	font-family: 'bpg-web';
	display: inline-block;
	cursor: pointer;
}
.QuizTest .QuizAnswers p:hover .quizCats{
	background:#e0e0e0;
	color: #616161;
}
.QuizTest .QuizAnswers p:hover .selected{
	background: #00ace0;
	color: #fff;
}
.QuizTest .QuizAnswers .quizCats{
	width: 35px;
	height: 35px;
	background: #eeeeee;
	color: #bdbdbd;
	font-family: 'bpg-web';
	font-size: 14px;
	display: block;
	vertical-align: middle;
	text-align: center;
	border-radius: 50%;
	margin-right: 20px;
	padding-top: 7px; 
	float: left;
	cursor: pointer;

}
.QuizTest .QuizAnswers .quizCats:hover{
	background: #e0e0e0;
	color: #616161;
}
.QuizTest .QuizAnswers span{
	display: inline-block;
	width: calc(100% - 100px);
	color: #616161;
	font-family: 'bpg-web';
	font-size: 14px;
	vertical-align: middle;
	margin: 10px 0 0 0;

}
.QuizTest .QuizAnswers button {
	margin: 30px 0 0 0;
	background: #f1aa28;
	border:0px;
	outline: none;
	width: 170px;
	height: 50px;
	color: #fff;
	font-size: 15px;
	font-family: 'bpg-web-001-caps';
	-webkit-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
}
.QuizTest .QuizAnswers .selected { 
	background: #00ace0;
	color: #fff;
}
.QuizTest .QuizAnswers .red { 
	background: #f06361;
	color: #fff;
}
.QuizTest .QuizAnswers .green { 
	background: #9ccc65;
	color: #fff;
}
.QuizTest .QuizAnswers .current-answer{
	margin-top: 30px;
}
/* col-sm-8 */
/*test page*/
/* exams page */
.userCircle{
	width: 30px;
	height: 30px;
	background: #ef5350;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    margin-left: -15px;
}
.greenCube{
	width: 60px;
	height: 30px;
	background: #9ccc65;
	font-size: 15px;
	text-align: center;
	margin: 9px 0px 0px 30px;
}
.navbar-default .navbar-nav>li>a.greenCubeText{
	font-size: 15px;
	padding: 6px 0px 0px 3px;
	color: #fff;
}
.navbar-default .navbar-nav>li>a.greenCubeText:hover{
	color: #fff;
}
.dropDownIcon{
	width: 14px;
    height: 14px;
	background: url('../img/svg/down.svg')center no-repeat;
	background-size: cover;
	display: inline-block;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover{
	background:transparent;
}
.ExamsLeftNav{
	margin-top: 50px;
	-webkit-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
}
.ExamsLeftNav ul{
}
.ExamsLeftNav ul li{
	padding:30px 0 0 25px;
	height: 80px;
	border-bottom: 1px solid #eceff1;
	vertical-align: middle;
	font: 14px "bpg-web";
	
}
.ExamsLeftNav ul li.active{
	padding:30px 0 0 25px;
	height: 80px;
	border-bottom: 1px solid #eceff1;
	vertical-align: middle;
	font: 14px "bpg-web";
	background: #00ace0;	
}
.ExamsLeftNav ul li.active a{
	color: #fff;
}
.ExamsLeftNav ul li .car-quest{
	width: auto;
	height: 25px;
	background: #bdbdbd;
	display: inline-block;
	text-align: center;
	padding: 5px 10px; 
	float: right;
	margin-right: 30px;
	color: #fff;
}
.ExamsLeftNav ul li a{
	text-decoration: none;
	color: #898989;
}

.ExamsRightQuiz{
	margin-top: 50px;
}
.current-answer{
	padding: 25px 20px; 
	-webkit-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
}
.current-answer div span.trueAnswer{
	font-size: 23px;
}
.current-answer div p.true{
	color: #959595;
	margin-top: 10px;
}
/* // exams page // */

/* row page */
/* video tuts */
.videoTut{
	padding: 15px 15px;
}
.videoTut:hover{
	-webkit-box-shadow: 0px -1px 70px -15px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 70px -15px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 70px -15px rgba(0,0,0,0.75);
}
.videoTut ul{
	margin-top: 30px;
}
.videoTut ul li{
	margin-top: 30px
}
.videoTut ul li span{
	vertical-align: middle;
	display: inline-block; 
}
.videoTut ul li a{
	font: 13px 'bpg-web';
	color: #a0a0a0;
	width: calc(100% - 50px);
	display: inline-block;
	padding: 10px 0px 0px 30px;
	margin-top: 10px;
	vertical-align: middle;
}
.videoTut ul li span.video{
	width: 42px;
    height: 42px;
	background: #f1aa28 url('../img/svg/play.svg')center no-repeat;
	background-size: 25px 20px;
	border-radius: 50%;
	cursor: pointer;
}
.videoTut ul li span.block{
	width: 45px;
	height: 45px;
	background: #eceff1 url('../img/svg/block.svg')center no-repeat;
	background-size: 30px 25px;
	border-radius: 50%;
}
/*from hover*/
.videoTut:hover .headText{
	background: #00ace0;
	position: relative;
	top: -30px;
	left: -10%;
	width: 120%;
	height: 80px;
	padding-left: 30px;
}
.videoTut:hover .headText span{
	background: url('../img/svg/white-tv.svg')center no-repeat;
}
.videoTut:hover .headText h2{
	padding: 20px;
	color: #fff;
}
/* from hover*/
.videoTut .headText span{
	width: 49px;
	height: 35px;
	background: url('../img/svg/tv.svg')center no-repeat;
	background-size: cover;
	vertical-align: middle;
	display: inline-block;
}
.headText h2{
	padding-left: 30px;
	vertical-align: middle;
	font: 16px 'bpg-web-001-caps';
	color: #616161;
	display: inline-block;
}
.headText .examBook{
	margin-right: 0px;
}
.rowsExams ul {
	margin-top: 30px;
}
.rowsExams ul li{
	padding-top: 20px;
}
/* // video tuts*/
/*exams book*/
.examBookSec{
	padding: 15px 15px;
}
.examBookSec .headText span{
	width: 42px;
    height: 49px;
	background: url('../img/svg/book2.svg') center no-repeat;
	background-size: cover;
	vertical-align: middle;
	display: inline-block;
}
.examBookSec .headText h2{
	display: inline-block;
}
/* hover */
.examBookSec:hover{
	-webkit-box-shadow: 0px -1px 70px -15px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 70px -15px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 70px -15px rgba(0,0,0,0.75);
}
.examBookSec:hover .headText{
	background: #00ace0;
	position: relative;
	top: -30px;
	left: -10%;
	width: 120%;
	height: 80px;
	padding-left: 30px;
}
.examBookSec:hover .headText span{
	padding: 20px;
	background: url('../img/svg/white-book2.svg') center no-repeat;
}
.examBookSec:hover .headText h2{
	padding: 20px;
	color: #fff;
}
/* hover */
.examBookSec .rightText{
	float: right;
	display: inline-block;
	font-size: 16px;
	color: #cbcbcb;
	font-family: 'bpg-web';
	padding-top: 15px;
}
.examBookSec ul{
	margin-top: 25px;
}
.examBookSec ul li{
	padding: 25px 0 0 10px;
}
.examBookSec ul li .rightTexts{
	float: right;
	color: #c6c6c6;
	font-size: 11px;
	font-family: 'bpg-web';
}
.examBookSec ul li a{
	padding: 25px 0 0 10px;
	color: #888888;
	font-size: 13px;
}
.examBookSec ul li a:hover{
	color: #58bee6;
}
/* // exams book*/
/* simul  */
.testSimulate{
	padding: 15px 15px;
}
.testSimulate .headText .exeamsBook{
	width: 48px;
    height: 43px;
	background: url('../img/svg/book.svg') center no-repeat;
	background-size: cover;
	vertical-align: middle;
	display: inline-block;
}
/* hover */
.testSimulate:hover{
	-webkit-box-shadow: 0px -1px 70px -15px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 70px -15px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 70px -15px rgba(0,0,0,0.75);
}
.testSimulate:hover .headText{
	background: #00ace0;
	position: relative;
	top: -30px;
	left: -10%;
	width: 120%;
	height: 80px;
	padding-left: 30px;
	padding-top: 20px;
}
.testSimulate:hover .headText .exeamsBook{
	background: url('../img/svg/white-book.svg') center no-repeat;
}
.testSimulate:hover .headText h2{
	color: #fff;
}
/* hover */
.testSimulate .headText .exeamsBook{
	background: url('../img/svg/book.svg') center no-repeat;
	width: 54px;
    height: 48px;
	background-size: cover;
	vertical-align: middle;
	display: inline-block;
}
.testSimulate .BuyCourse{
	text-align: center;
	margin-top: 20px;
}
.testSimulate .BuyCourse button{
	background: #f1aa28;
	font:14px 'bpg-web-001-caps';
	outline: none;
	border: 0px;
	width: 215px;
	height: 50px;
	-webkit-box-shadow: 0px -1px 70px -15px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 70px -15px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 70px -15px rgba(0,0,0,0.75);
	color: #fff;
}
.testSimulate ul {
	margin-top: 25px;
}
.testSimulate ul li{
	padding: 25px 0 0 10px;
}
.testSimulate ul li a{
	padding: 25px 0 0 10px;
	color: #888888;
}
.testSimulate ul li a:hover{
	color: #58bee6;
}
.testSimulate ul li .rightTexts{
	float: right;
	color: #c6c6c6;
	font-size: 13px;
	font-family: 'bpg-web';
}
.testSimulate ul li .green-bl{
	background: #9ccc65;
	padding: 3px 13px;
	color: #fff;

}
.testSimulate ul li .red-bl{
	background: #ef5350;
	padding: 3px 13px;
	color: #fff
}
.testSimulate ul li .blue-bl{
	background: #00ace0;
	padding: 3px 23px;
	color: #fff;
	border: 0px;
	outline: none;
	font-family: 'bpg-web-001-caps';
}
.rowCircle{
	margin-right: 5px;
}
/* // simul  */
/* progress barr */
@media (min-width: 768px){
	.prgoressJumbotron{
	padding-top: 30px;
	padding-bottom: 0px;
	background: #ffffff;
	position: fixed;
	bottom: 0;
	margin-bottom: 0px;
	width: 100%;
	-webkit-box-shadow: 2px -5px 48px 11px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px -5px 48px 11px rgba(0,0,0,0.2);
	box-shadow: 2px -5px 48px 11px rgba(0,0,0,0.2);
	}
	/*.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
		font-family: 'gotham-bold';
	}*/
}

.progress{
	height: 7px;
	background-color: #fbfbfb;
	border-radius: 0px;
	margin-bottom: 10px;
}
.mainProg{
	background-color: #9ccc65!important;	
}
.progress-bar{
	background-color: #00ace0;
}
@media (max-width: 768px){
	.progres-desc span.circle{
	width: 2%;
	}
}
@media (min-width: 768px){
	.progres-desc span.circle{
	width: 8%;
	display: inline-block;
	margin-right: 0px;
	}
}

.progres-desc span.text{
	width: 85%;
	display: inline-block;
	padding-right: 15px;
    padding-left: 8px;
    font:11px 'bpg-web';
    color: #5e5e5e;
    vertical-align: middle;
}
.progres-desc span.mainProgres{
	font-size: 25px;
}
.progres-desc p{
	color: #c5c5c5;
	font: 12px;
}
/* // progress barr */ 
/* exams page */
/* left navbar */
.leftOlPanel{
	margin-top: 35px;
	-webkit-box-shadow: 2px -5px 48px 11px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px -5px 48px 11px rgba(0,0,0,0.2);
	box-shadow: 2px -5px 48px 11px rgba(0,0,0,0.2);
}
.leftOlPanel ol{
}
.leftOlPanel ol li{
	list-style-position: inside;
	height: 75px;
	width: 100%;
	padding: 17px 5px 0 15px;
	border-bottom: 1px solid #eceff1;
}
.leftOlPanel ol li span.video{
	width: 42px;
    height: 42px;
    background: #f1aa28 url('../img/svg/play.svg')center no-repeat;
    background-size: 25px 20px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
.leftOlPanel ol li span.cube{
	padding: 2px 15px;
	margin-left: 20px;
	background: #bdbdbd;
	color: #fff;
	font-size: 13px;
	float: right;
	margin-top: 8px
}
.leftOlPanel ol li a{
	text-decoration: none;
	font: 14px 'bpg-web';
	color: #616161;
	display: inline-block;
	vertical-align: middle;
	padding-left: 20px;
}
/* //left navbar */
.videoPlayer{
	/*margin-top: 35px;*/
}
 /* video slide bar */
 .sliderbar{
 	position: relative;
 	margin-top: 35px;
 	width: 100%;
 	-webkit-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
	box-shadow: 2px 2px 68px 0px rgba(0,0,0,0.4);
 }
 .sliderbar .sliderBarArea{
 	width: 100%;
 	height: 70px;
 }
  .sliderbar .sliderBarArea span.goToPrev{
 	display: inline-block;
 	width: 65px;
 	height: 100%;
 	border-right: 1px solid #eceff1;
 	float: left;
 	background: url('../img/svg/left.svg') no-repeat center;
 	background-size: 30px 19px;
 	cursor: pointer;  
 }
  .sliderbar .sliderBarArea span.goToNext{
 	display: inline-block;
 	width: 65px;
 	height: 100%;
 	border-left: 1px solid #eceff1;
 	float:right;
 	background: url('../img/svg/right.svg') no-repeat center;
 	background-size: 30px 19px;
 	cursor: pointer; 
 }
 .sliderbar .sliderBarArea .slideMove{
 	right: 65px;
 	width: calc(100% - 129px);
 	height: 100%;
    position: absolute;
    top: 0;
    left: 65px;
    overflow: hidden;

 }
 .sliderbar .sliderBarArea .slideMove ul{
 	width: 200%;
 	height: 100%;
 	margin-bottom: 0px;
 	position: absolute;
 }
 .sliderbar .sliderBarArea .slideMove li{
 	display: inline-block;
 	width: calc(100%/12);
 	text-align: center;
 	color: #616161;
 	font: 13px 'bpg-web-001-caps';
 	border-right: 1px solid #eceff1;
 	padding-top: 20px; 
 	height: 70px;
 	float: left;
 	cursor: pointer;
 }
 .sliderbar .sliderBarArea .slideMove li.active{
 	background: #00ace0;
 	color: #fff;
 }
 .sliderbar .sliderBarArea .slideMove li:last-child{
 	border-right: 0px;

 }
.sliderbar .sliderBarArea .slideMove li span{
 	display:block;
 	margin-bottom: 8px;
 }
 /* //video slide bar */
 /* textarea and submit */
.examsTextarea{
	margin-top: 40px;
	width: 100%;
}
.examsTextarea textarea{
	width: 100%;
	border: 1px solid #c2c2c2;
	outline: none;
}
.examsTextarea button{
	margin-top: 20px;
	float: right;
	background: #00ace0;
	font: 13px 'bpg-web-001-caps';
	color: #fff;
	padding: 10px 15px;
	outline: none;
	border:0px;
}

 /* //textarea and submit */
/* //exams page */
/* artboard page */
.artboardpanel{
}
.forMarg{
	margin-top: 60px;
	position: relative;
}
.artBoard{
	margin: 0 auto;
	height: 130px;
	width: 100%;
	-webkit-box-shadow: -1px 10px 39px -4px rgba(0,0,0,0.34);
	-moz-box-shadow: -1px 10px 39px -4px rgba(0,0,0,0.34);
	box-shadow: -1px 10px 39px -4px rgba(0,0,0,0.34);
}
.date{
	position: absolute;
	bottom: -30px;
    left: 15px;
	display: inline-block;
	font: 12px 'bpg-web-001-caps';
	color: #bdbdbd;
}
.artBoard .leftBlock{
	width: 25%;
	height: 100%;
	background:;
	border-right: 2px solid #eceff1;
	display: inline-block;
	float: left; 
}
.artBoard .leftBlock p{
	text-align: center;
	margin-bottom: 0px;
}
.artBoard .leftBlock p.firstpar{
	font-size: 50px;
	color: #616161;
	margin-top: 20px;
}
.artBoard .leftBlock p.secpar{
	font: 13px 'bpg-web-001-caps';
	color: #616161;
}
.artBoard .rightBlock{
	display: inline-block;
	width: 60%;
	height: 100%;
	background:;
}
.artBoard .rightBlock .two-bl{
	width: 100%;
	height: 100%;
}
.artBoard .rightBlock .two-bl .firstBlock{
	display: inline-block;
	width: 100%;
	height: 49%;
	border-bottom: 2px solid #eceff1; 
}
.artBoard .rightBlock .two-bl .firstBlock .CountTrueAnswer{
	display: inline-block; 
	font-size: 30px;
	color: #9ccc65;
	padding: 13px 8px;
}
.artBoard .rightBlock .two-bl .firstBlock .TrueAnswer{
	display: inline-block; 
	font: 13px 'bpg-web-001-caps'; 
	color: #616161;

}
.artBoard .rightBlock .two-bl .secBlock .CountFalseAnswer{
	display: inline-block; 
	font-size: 30px;
	color: #ef5350;
	padding: 13px 8px;
}
.artBoard .rightBlock .two-bl .secBlock .FalseeAnswer{
	display: inline-block; 
	font: 13px 'bpg-web-001-caps'; 
	color: #616161;
}
.artBoard .rightBlock .two-bl .secBlock{
	display: inline-block;
	width: 100%;
	height: 50%;
}
.artBoard .BlueBlock{
	width: 15%;
	height: 100%;
	display: inline-block;
	float: right; 
	background: #00ace0 url('../img/svg/right-white.svg')center no-repeat;
	background-size: 30px 19px;
	cursor: pointer; 
}
/* //artboard page */
/* personal imfo edit */
.two-cl{
	width: 100%
}
.freeBar{
	position: relative;
}
@media (min-width: 800px){
	.freeBarArea{
	display: block;
	width: 100%;
	}
	.PremiumBarArea{
	display: block;
	width: 100%;

	}
}
.freeBarArea{
	position: absolute;
	right: 0;
	top: 0;
	width: 402px;
	height: 475px;
	-webkit-box-shadow: -16px 0px 73px -16px rgba(0,0,0,0.47);
	-moz-box-shadow: -16px 0px 73px -16px rgba(0,0,0,0.47);
	box-shadow: -16px 0px 73px -16px rgba(0,0,0,0.47);
}
.freeBarArea .changePass{
	max-width: 250px;
	margin: 0 auto;
	padding: 5px 0px;
	height: 100% 
}
.freeBarArea .changePass h2{
	font: 18px 'bpg-web';
	color: #616161;
}
.freeBarArea .changePass input{
	height: 55px;
	margin-top: 20px;
	width: 100%;
	border:1px solid #eceff1; 
	outline: none;
	font: 13px "bpg-web";
	padding-left: 20px;
}
.freeBarArea .changePass button{
	margin-top: 20px;
	border:0px;
	outline: none;
	height: 55px;
	width: 100%;
	font: 15px "bpg-web-001-caps";
	color: #fff;	
}
.freeBarArea .changePass button.welcomMail{
	background: #00ace0;
}
.freeBarArea .changePass button.Update{
	background: #f1aa28;	
}
@media (max-width: 800px){
	.freeBarArea{
	top: 476px;
	left: 0px;
	margin: 0 auto;
	-webkit-box-shadow: -1px 10px 39px -4px rgba(0,0,0,0.34);
	-moz-box-shadow: -1px 10px 39px -4px rgba(0,0,0,0.34);
	box-shadow: -1px 10px 39px -4px rgba(0,0,0,0.34);
	}
	.PremiumBarArea{
	margin: 0 auto;
	-webkit-box-shadow: -1px 10px 39px -4px rgba(0,0,0,0.34);
	-moz-box-shadow: -1px 10px 39px -4px rgba(0,0,0,0.34);
	box-shadow: -1px 10px 39px -4px rgba(0,0,0,0.34);
	}
}
.PremiumBarArea{
	position: absolute;
	left: 0;
	top: 0;
	width: 402px;
	height: 475px;
	-webkit-box-shadow: 20px 4px 73px -16px rgba(0,0,0,0.47);
	-moz-box-shadow: 20px 4px 73px -16px rgba(0,0,0,0.47);
	box-shadow: 20px 4px 73px -16px rgba(0,0,0,0.47);
}
.PremiumBarArea .changePass{
	max-width: 250px;
	margin: 0 auto;
	padding: 5px 0px;
	height: 100% 
}
.PremiumBarArea .changePass h2{
	font: 18px 'bpg-web';
	color: #616161;
	margin-bottom: 30px;
}
.PremiumBarArea .changePass .person p{
	font: 17px 'bpg-web';
	color: #616161;
	display: inline-block;
	vertical-align: middle;
}
.PremiumBarArea .changePass .person span{
	width: 35px;
	height: 35px;
	display: inline-block;
	border-radius: 50%;
	background: #eeeeee url('../img/png/pencil.png')center no-repeat;
	vertical-align: middle;
}
.PremiumBarArea .changePass .infoInput{
	width: 100%;
	height: 55px;
	margin-top: 20px;
	border:1px solid #eceff1; 
}
.PremiumBarArea .changePass .infoInput input{
	height: 100%;
	width: 80%;
	outline: none;
	border:0px;
	font: 13px "bpg-web";
	padding-left: 20px;
}
.PremiumBarArea .changePass .infoInput span{
	width: 20%;
	height: 100%;
	background: #00ace0;
	float: right;
}
.PremiumBarArea .changePass button{
	margin-top: 20px;
	border:0px;
	outline: none;
	height: 55px;
	width: 100%;
	font: 15px "bpg-web-001-caps";
	color: #fff;	
}
.PremiumBarArea .changePass button.welcomMail{
	background: #00ace0;
}
.PremiumBarArea .changePass button.Update{
	background: #f1aa28;	
}
/* // personal imfo edit */
/* // row page */
/* userpanel */
.userArea{
	width: 100%;
	height: 100%;
}
.userArea .userPic{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	overflow: hidden;
	vertical-align: middle;
	display: inline-block;
}
.userArea .userPic img{
	width: 90px;
	height: 90px;
}
.userArea span{
	font: 25px 'bpg-web';
	color: #616161;
	height: 90px;
}
.progresbarArea{
	padding: 40px 50px;
}
/* paragraps */
.useroabenelsparagraps{
	margin-top: 40px;
}
.useroabenelsparagraps .user-par {
	height: 18px;
	overflow: hidden;
	position: relative;
	background:#dfdfdf;
	margin-top: 10px;
	/*padding: 10px;*/
}
.useroabenelsparagraps .user-par p{
	width: calc(100% - 50px);
	font: 14px 'bpg-web';
	color: #616161;
}
.colapsee{
	background:red;
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 0px;
}
.useroabenelsparagraps h2{
	font: 12px 'bpg-web-001-caps';
	color: #bdbdbd;
}
.useroabenelsparagraps button{
	font: 12px 'bpg-web-001-caps';
	color: #fff;
	background: #00ace0;
	border:0px;
	outline: none;
	padding: 10px 10px 5px 10px;
}
.allexam{
	margin-top: 60px;
}
.cl-fr-date{
	position: absolute;
    bottom: -30px;
    right: 15px;
    display: inline-block;
    font: 12px 'bpg-web-001-caps';
    color: #bdbdbd;
}
.cls-for-mr{
	margin-top: 0px;
}
.allexam h2{
	font: 12px 'bpg-web-001-caps';
	color: #bdbdbd;
	margin: 15px;
}
.allexam button{
	outline: none;
	border:0px;
	margin: 15px;
	color: #fff;
	background: #00ace0;
	font: 12px 'bpg-web-001-caps';
	padding: 7px 15px 5px 15px;
}
.for-mr{
	margin-bottom: 180px;
}
.leftOlPanel ol li{
	position: relative;
}
.leftOlPanel ol li span.left-sp{
	position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
}
.leftOlPanel ol li span.red{
	background: #e57373;
}
.leftOlPanel ol li span.green{
	background: #9ccc65;
}
.leftOlPanel ol li span.orange{
	background: #f1aa28;
}
.origresBarDesc{
	width: 100%;
	height: 40px;
}
/*.origresBarDesc::before{
  content:'';
  width:33.2%;
  width:calc(33.2% + 2px);
  height:100%;
  position:absolute;
  top:0;left:0;
}
.origresBarDesc::after{
  content:'';
  display:block;
  widht:0;height:0;
  clear:both;
}*/
.column{
  width:16.6%;
  float:left;
}
.column::before{
  content:'';
  display: block;
  background:gray;
  height:7px;
  width:2px;
  margin-bottom:20px;
}
.column::after{
  display: block;
  font-size:15px;
  font-family:Arial;
  content:attr(data-num);
  margin-left:-2px;
}
.column:last-child{
  width:0;
  margin-left:-1px;
}
/* paragraps */
/* // userpanel */
/* statistic panel */
/* statistic person */
.statisticsPerson h2{
	font: 25px 'bpg-web-001-caps';
	color: #616161;
}
.statisticsPerson p{
	font: 16px 'bpg-web';
	color: #616161;
}
.statisticsPerson p .timer{
	vertical-align: middle;
}
.statisticsPerson p .circle{
	width: 22px;
    height: 25px;
    background: url('../img/svg/clock.svg') no-repeat center;
    background-size: cover;
    vertical-align: middle;
}
/* //statistic person */
/* statistic but bar */
.statisticsButBar{
	margin-top: 15px;
}
.statisticsButBar button{
	width: 200px;
	padding: 20px 30px;
	border:0px;
	outline: none;
	-webkit-box-shadow: 0px 7px 107px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 7px 107px -16px rgba(0,0,0,0.75);
	box-shadow: 0px 7px 107px -16px rgba(0,0,0,0.75);
	margin-left: 30px;
	font: 16px 'bpg-web-001-caps';
	color: #616161;
	background: #fff;

}
.statisticsButBar button.active{
	background: #00ace0;
	color: #fff
}
/* //statistic but bar */
/* circle bar */
.jumbotron .fr-mr{
	margin-top: 30px!important;
}
.statisticsButBar{
	margin-top: 30px;
}
.allHidden:not(.active){
	display: none;
}
.allhidden.active{
	display: block
}
.circelBar .circle{
	width: 80px;
	height: 80px;
	border: 10px solid #e0e0e0;
	background: transparent;
}
.circelBar p{
	font: 14px 'bpg-web';
	color: #616161;
	padding-top: 20px;
}
.circelBar .circle p{
	line-height: 20px;
	font-size: 25px; 
}
.circelBar .green{
	border-color: #9ccc65;
}
.circelBar .circle p.green{
	color: #9ccc65;
}
.circelBar .red{
	border-color: #ef5350;
}
.circelBar .circle p.red{
	color: #ef5350;
}
.circelBar .gray{
	border-color: #bdbdbd;
}
.circelBar .circle p.gray{
	color: #bdbdbd;
}
.circelBar .orange{
	border-color: #f1aa28;
}
.circelBar .circle p.orange{
	color: #f1aa28;
}
/* //circle bar */
/* more info */
.moreinfo{
	font: 16px 'bpg-web';
	color: #bdbdbd;
	margin-bottom: 50px;
}
/* more info */

/* progres blocks */
.progressBlock{
	height: 150px;
	width: 100%;
	background: #dfdfdf;
	position: relative;
	margin-bottom: 10px;
}
.progressBlock .progresDone{
	bottom: 0;
	left: 0;
	width: 100%;
	background: #00ace0;
	position: absolute;
}
.textt{
	width: calc(100% - 37px);
	display: inline-block;
	font: 12px 'bpg-web';
	color: #616161;
}
.numeratic{
	text-align: center;
	font: 20px 'bpg-web';
	color: #616161;
}
/* // progres blocks */
/* //statistic panel */
